Print function

In [31]:
print("Welcome to the Aviosoft")

Welcome to the Aviosoft

varaible

In [4]:
a=2  #integer
a1=2.5  #float
a2="sahil" #string
#here a,a1,a2 is an container which can store any kind of data is called varaiable
print(a,a1,a2,end=" ")

2 2.5 sahil

In [1]:
#comics learning
import antigravity

In [8]:
#taking multiple inputs
x,y=input("Enter two values: ").split()
print(("first number is {} and second number is {}").format(x,y))

Enter two values: 1 2
first number is 1 and second number is 2

In [12]:
x=list(map(int,input("enter the numbers: ").split()))
print("this is list :",x)

enter the numbers: 1 2 3 4 5
this is list : [1, 2, 3, 4, 5]

In [14]:
x=[int(x) for x in input("enter the numbers: ").split(",")]
print(x)

enter the numbers: 1,2,3,4
[1, 2, 3, 4]

In [18]:
#output formatting
print("AVI :%2d,portal:%5.2f"%(11,04.33))
#print exponential value
print("%10.3E"%(356.08977))

AVI :11,portal: 4.33
 3.561E+02

In [2]:
#format method
print("I love {} for'{}!'".format("god","life"))
print(f"{'AVI'} and {'software'}")

I love god for'life!'
AVI and software

In [30]:
#formating ouput using string method
x="AVI SOFTWARE"
print("WELCOME TO THE".center(40," "))
print(x.center(40,"#"))
print("Python and machine learning".ljust(40,"*"))
print("JAVA development".rjust(40,"-"))

             WELCOME TO THE
##############AVI SOFTWARE##############
Python and machine learning*************
------------------------JAVA development

In [11]:
"""
1
12
123
1234
"""
n=int(input("enter the number: "))
for i in range(1,n):
    for j in range(1,i+1):
        print(j,end=" ")
    print("\r")

enter the number: 4
1
1 2
1 2 3

In [3]:

"""
1
23
456
7890
"""
x=int(input("enter the numbers: "))
z=1
for i in range(0,x):
    for j in range(0,i+1):
        print(z,end=" ")
        z+=1
    print("\r")

enter the numbers: 4
1
2 3
4 5 6
7 8 9 10

In [9]:
"""
4444
333
22
1
"""
y=int(input("enter the numbers:"))
for i in range(y,0,-1):
    for j in range(i):
        print(i,end=" ")
    print('\r')

enter the numbers:5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [13]:
"""
1234
1234
1234
1234
"""
y=int(input("enter the numbers:"))
for i in range(y):
    for j in range(1,y+1):
        print(j,end=" ")
    print("\r")

enter the numbers:4
1 2 3 4
1 2 3 4
1 2 3 4
1 2 3 4

#ASSIGNMENT 1
"""
Given an array 'arr' containing 'n' elements, rotate this array left once and return it.
Rotating the array left by one means shifting all elements by one place to the left and moving the first element to the last position in the array.
Example:
Input: 'a' = 5, 'arr' = [1, 2, 3, 4, 5]
Output: [2, 3, 4, 5, 1]
Explanation: We moved the 2nd element to the 1st position, and 3rd element to the 2nd position, and 4th element to the 3rd position, and the 5th element to the 4th position, and move the 1st element to the 5th position.
"""

In [27]:
def rotateleftonce(arr):
    if not arr or len(arr)<2:
        return arr
    firstelement=arr[0]
    rotatedarray=arr[1:]+[firstelement]
    return rotatedarray
arr=[1,2,3,4,5]
rotateleftonce(arr)

[2, 3, 4, 5, 1]

2.You are given an array 'arr' of length 'n', consisting of integers.
A subarray is a contiguous segment of an array. In other words, a subarray can be formed by removing 0 or more integers from the beginning and 0 or more integers from the end of an array.
Find the sum of the subarray (including empty subarray) having maximum sum among all subarrays.
The sum of an empty subarray is 0.
Example :
Input: 'arr' = [1, 2, 7, -4, 3, 2, -10, 9, 1]
Output: 11
Explanation: The subarray yielding the maximum sum is [1, 2, 7, -4, 3, 2].

In [39]:
def subarraysum(arr):
    max_sum=0
    currsum=0
    for num in arr:
        max_sum=max(max_sum,currsum+num)
        currsum+=num
        if currsum<0:
            currsum=o
    return max_sum
arr=[1,2,7,-4,3,2,-10,9,1]
subarraysum(arr)

11

3. Write a function to reverse a string without using any built-in reverse functions.

In [19]:
def reverse(s1):
    return s1[::-1]
s1="hello"
reverse(s1)

'olleh'

In [24]:
def reverse(s1):
    s2=""
    for char in s1:
        s2=char+s2
    return s2
s1="hello"
reverse(s1)

'olleh'

4.Write a function to check if two strings are anagrams of each other.
Example:
Input 1: "listen"
Input 2: "silent"
Output: Are Anagrams: True
Explanation
function first removes spaces and converts both input strings to lowercase to make the comparison case-insensitive.
Then, it checks if the sorted list of characters in both strings is the same. If they are the same, the strings are anagrams.

The function returns True for this example because the characters in "listen" can be rearranged to form "silent." If the characters were different or had different frequencies, the function would return False.

In [54]:
def anagram(s1,s2):
    s1=s1.replace(" ","")
    s2=s2.replace(" ","")
    if sorted(s1)==sorted(s2):#instead of sorted we can also use here counter
        return True
    else:
        return False

In [55]:
s1=input()
s2=input()
anagram(s1,s2)

aam
 maa

True

practice question

1.Write a program to print all the unique characters in a String. For instance, if the input string is “abcb”, the output will be the characters ‘a’ and ‘c’ as they are unique. The character ‘b’ repeats twice and so it will not be printed.
Input: abcab
Output: c

In [3]:
def unique(str):
    dict={}
    for char in str:
        if char in dict:
            dict[char]+=1
        else:
            dict[char]=1
            
    unique_chars = [char for char, freq in dict.items() if freq == 1]
    print('Unique Characters:', ', '.join(unique_chars))
str="abcb"
unique(str)

Unique Characters: a, c

2.Given three values - Start Fahrenheit Value (S), End Fahrenheit value (E) and Step Size (W), you need to convert all Fahrenheit values from Start to End at the gap of W, into their corresponding Celsius values and print the table.

In [4]:
def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9
def print_temperature_table(start, end, step):    
    current_fahrenheit = start
    while current_fahrenheit <= end:
        celsius = fahrenheit_to_celsius(current_fahrenheit)
        print(f"{current_fahrenheit}\t\t{celsius:.2f}")
        current_fahrenheit += step
start_value = float(input("Enter the start Fahrenheit value: "))
end_value = float(input("Enter the end Fahrenheit value: "))
step_size = float(input("Enter the step size: "))

print_temperature_table(start_value, end_value, step_size)

Enter the start Fahrenheit value: 99
Enter the end Fahrenheit value: 110
Enter the step size: 2
99.0		37.22
101.0		38.33
103.0		39.44
105.0		40.56
107.0		41.67
109.0		42.78

3.Write a program to input an integer 'n' and print the sum of all its even digits and the sum of all its odd digits separately.
Digits mean numbers, not places! That is, if the given integer is "132456", even digits are 2, 4, and 6, and odd digits are 1, 3, and 5.
Example :
Input: 'n' = 132456
Output: 12 9
Explanation:
The sum of even digits = 2 + 4 + 6 = 12
The sum of odd digits = 1 + 3 + 5 = 9

In [2]:
def sum_of_even_odd_digits(n):
    sum_even = 0
    sum_odd = 0
    for digit in n:
        digit = int(digit)
        if digit % 2 == 0:
            sum_even += digit
        else:
            sum_odd += digit
    print(f"The sum of even digits = {sum_even}")
    print(f"The sum of odd digits = {sum_odd}")
input_number = input("Enter an integer: ")
sum_of_even_odd_digits(input_number)

Enter an integer: 132456
The sum of even digits = 12
The sum of odd digits = 9

4.Write a program that takes a number as input and prints all its factors except 1 and the number itself.. If the number has only two factors (1 and the number itself), then the program should print -1.
Sample Input:
8
Sample Output:
2 4
Explanation of Sample Output 1 :
The factors for the number excluding 1 and itself are 2 and 4, so the output is 2 4.

In [12]:
def factor(num):
    l=[]
    for i in range(2,num):
        if(num%i==0):
            l.append(i)
    if len(l)==0:
        return ("-1")
    else:
        return(" ".join(map(str, l)))
num=int(input())
factor(num)

8

'2 4'

5.Write a program to find x to the power n (i.e. x^n). Take x and n from the user. You need to print the answer.
Note : For this question, you can assume that 0 raised to the power of 0 is 1
Sample Input :
 3 4
Sample Output :
81

In [5]:
x=int(input())
y=int(input())
print(x**y)

3
4
81

6.Write a program to generate the reverse of a given number N. Print the corresponding reverse number.

Note : If a number has trailing zeros, then its reverse will not include them. For e.g., reverse of 10400 will be 401 instead of 00401.

Sample Input 1 :
1234
Sample Output 1 :
4321

In [16]:
def reverse(arr):
    x=arr[::-1]
    y=int(x)
    return y
arr="10400"
reverse(arr)

401

In [20]:
def reverse(arr):
    reversednum=0
    while arr>0:
        num=arr%10
        reversednum=reversednum*10+num
        arr=arr//10
    return reversednum
arr=int(input())
reverse(arr)

10400

401

"""1.Print the following pattern for the given N number of rows.

Pattern for N = 4
A
BC
DEF
GHIJ
"""

In [58]:
def print_pattern(N):
    current_char = ord('A') 
    
    for i in range(N):
        for j in range(i + 1):
            print(chr(current_char), end="")
            current_char += 1
        print()

N = 4
print_pattern(N)

A
BC
DEF
GHIJ

"""
2.Print the following pattern for the given N number of rows.

Pattern for N = 4
1
21
321
4321
"""

In [59]:
def print_pattern(N):
    for i in range(1, N + 1):
        for j in range(i, 0, -1):
            print(j, end="")
        print()

N = 4
print_pattern(N)

1
21
321
4321

"""3.Print the following pattern for the given N number of rows.

Pattern for N = 3
 A
 BB
 CCC
 """

In [30]:
n=3
num=65
for i in range(0,n):
    for j in range(0,i+1):
        ch=chr(num)
        print(ch,end="")
    num+=1
    print()

A
BB
CCC

"""4.Print the following pattern for the given N number of rows.

Pattern for N = 4
A
BC
CDE
DEFG
  """

In [75]:

n = int(input())
ch="A"
for i in range(n):
    d=ch
    for j in range(i+1):
        print(d,end="")
        d=chr(ord(d)+1)
    ch=chr(ord(ch)+1)
    print()

5
A
BC
CDE
DEFG
EFGHI

"""5.Print the following pattern for the given number of rows.

Pattern for N = 5
E
DE
CDE
BCDE
ABCDE"""

In [68]:
n=5
for i in range(n, 0, -1):
    for j in range(i, n + 1):
        asciiValue = 65
        asciiValue += (j - 1)
        print(chr(asciiValue),end="")
    print()

E
DE
CDE
BCDE
ABCDE

"""6.Write a program to print parallelogram pattern for the given N number of rows.

For N = 3
***
 ***
  ***"""

In [36]:
n=3
for i in range(0,n):
    for j in range(1,i+1):
        print(" ",end="")
    for j in range(0,n):
        print("*",end="")
    print()

***
 ***
  ***

""""7.Print the following pattern for the given N number of rows.

Pattern for N = 3
      1 
     12
    123
    """

In [42]:
n=3
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(1,i+1):
        print(k,end="")
    print()

  1
 12
123

"""8.Write a program to print the pattern for the given N number of rows.

For N = 4

1357
3571
5713
7135"""

In [77]:
n=4
for i in range(1,n+1):
    val=2*i-1
    temp=val 
    for j in range(n):
        if(temp>2*(n)):
            temp=1
        print(temp,end="")
        temp=temp+2
    print()

1357
3571
5713
7135

Homework

1.Given a decimal number (integer N), convert it into binary and print.
Sample Input :
12
Sample Output :
1100

In [89]:
def decimal_to_binary(num):
    binary_representation = ''
    while num > 0:
        remainder = num % 2
        binary_representation = str(remainder) + binary_representation
        num = num // 2
    print(binary_representation)
dec_val = 2
decimal_to_binary(dec_val)

10

2.Given an integer N, print all the prime numbers that lie in the range 2 to N (both inclusive).
Print the prime numbers in different lines.
Sample Input:
9
Sample Output:
2
3
5
7

In [91]:

    n = int(input("Enter a number: "))
    for i in range(2, n + 1):
        count = 0
        for j in range(2, i + 1):
            if i % j == 0:
                count += 1
        if count == 1:
            print(i)

Enter a number: 9
2
3
5
7

3.Print the following pattern for the given number of rows.
Pattern for N = 5

           1
          232
         34543
        4567654
       567898765

In [107]:
n = 5
num = 1
gap = n 

for j in range(1, n + 1):
    num = j
    for i in range(1, gap ):
        print(" ", end="")
    gap = gap - 1
    
    for i in range(1, j + 1):
        print(num, end="")
        num = num + 1
    
    num = num - 2
    for i in range(1, j):
        print(num, end="")
        num = num - 1
    
    print()

    1
   232
  34543
 4567654
567898765

4.Print the following pattern for the given number of rows.
Note: N is always odd.
Pattern for N = 5

  *
 ***
*****
 ***
  *

In [102]:
n = int(input())
firstHalf = (n + 1) // 2
secHalf = n // 2

# First Half
for currRow in range(1, firstHalf + 1):
    for spaces in range(1, firstHalf - currRow + 1):
        print(' ', end="")
    
    for currcol in range(1, (2 * currRow) ):
        print("*", end="")
    
    print()

# Second Half
for currRow in range(secHalf, 0, -1):
    for spaces in range(1, secHalf - currRow + 2):
        print(" ", end="")
    
    for currcol in range(1, (2 * currRow) ):
        print("*", end="")
    
    print()

5
  *
 ***
*****
 ***
  *

5.Write a program to print triangle of user defined integers sum.

Sample Input 
3
Sample Output :
1=1
1+2=3
1+2+3=6

In [96]:
def print_triangle(n):
    for i in range(1, n + 1):
        current_sum = 0
        for j in range(1, i + 1):
            current_sum += j
            if j < i:
                print(j, end='+')
            else:
                print(j, end='')
        print(f'={current_sum}')
user_input = int(input("Enter the number of rows for the triangle: "))
print_triangle(user_input)

Enter the number of rows for the triangle: 5
1=1
1+2=3
1+2+3=6
1+2+3+4=10
1+2+3+4+5=15

6.Check whether a given number ’n’ is a palindrome number.
Note :
Palindrome numbers are the numbers that don't change when reversed.
You don’t need to print anything. Just implement the given function.
Example:
Input: 'n' = 51415
Output: true
Explanation: On reversing, 51415 gives 51415.

In [86]:
x=(input("enter the number:" ))

if x==x[::-1]:
    print("true")
else:
    print("false")

enter the number:44555
false

7.Print the following pattern for given number of rows.
input N=5

 5432*
 543*1
 54*21
 5*321
 *4321

In [79]:
lines = 5
for i in range(1, lines + 1):
    for j in range(lines, 0, -1):
        if j != i:
            print(j, end='')
        else:
            print('*', end='')
    print("")

5432*
543*1
54*21
5*321
*4321